body
{
background-color: lightgreen;
font-family: "Arial", Helvetica, Arial, sans-serif;
text-align: center;
}
h1
{
color: red;
font-size: 30px;
}
p
{
color: brown;
font-size: 15px;
background-color: lightyellow;
}
.title
{
color: orange;
}
table, th, td 
{
  
text-align: center;
border: 1px solid black;

}

img 
{
  
max-width:200px;
  
float: center;
  
margin-right: 15px;

}

